@model IEnumerable<Pr3Obligatorio_AAN2023.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}
<div class="container border rounded p-3 m-5 bg-light">
<h1>Usuarios</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Constraseña)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Constraseña)
            </td>
                    <td>
                        <button class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</button>
                   
                        <button class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">Details</button>
                    
                        <button class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
                    </td>
        </tr>
}
    </tbody>
</table>
</div>