@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<!-- Carrusel -->
<div id="carouselInicio" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i0.wp.com/eltiempolatino.com/wp-content/uploads/2022/08/cine.jpg?fit=1200%2C613&ssl=1" class="d-block w-100 h-auto carousel-image" alt="Slide 1">
        </div>
        <div class="carousel-item">
            <img src="https://media.revistagq.com/photos/63e4f125df9a2fddd35516fc/16:9/pass/peliculas-disney-secuelas-toy-story-frozen.jpg" class="d-block w-100 h-auto carousel-image" alt="Slide 2">
        </div>
        <div class="carousel-item">
            <img src="https://static.posters.cz/image/hp/79858.jpg" class="d-block w-100 h-auto carousel-image" alt="Slide 3">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<!-- Selectores -->
<div class="container mt-5">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-2">
                <select class="form-select" name="peliculaId" id="peliculaId" onchange="this.form.submit()">
                    <option value="">Seleccionar película</option>
                    @foreach (var pelicula in Model.Peliculas)
                    {
                        <option value="@pelicula.Id">@pelicula.Titulo</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-select" name="sala" id="sala">
                    <option value="">Seleccionar sala</option>
                    @if (Model.Salas != null)
                    {
                        @foreach (var sala in Model.Salas)
                        {
                            <option value="@sala.NroSala">@sala.NroSala</option>
                        }
                    }
                </select>
            </div>

        </div>
    }





        <div class="col-md-2">
            <input type="date" class="form-control" name="fecha" id="fecha">
        </div>
        <div class="col-md-2">
            <input type="time" class="form-control" name="hora" id="hora">
        </div>
        <div class="col-md-2">
            <input type="number" class="form-control" name="cantidad" id="cantidad" min="1" max="10">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary">Comprar boletos</button>
        </div>
    </div>
</div>

<!-- Grupo de Cards -->
@if (((IEnumerable<Pr3Obligatorio_AAN2023.Models.Pelicula>)Model.Peliculas).Count() > 0)
{
    <div class="row mt-5">
        @foreach (var pelicula in (IEnumerable<Pr3Obligatorio_AAN2023.Models.Pelicula>)Model.Peliculas)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-img-container">
                        <img src="https://i.blogs.es/f9a58d/aquaman-poster-comic-con-2018/450_1000.jpg" class="card-img-top" alt="Card 3">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@pelicula.Titulo</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="/Peliculas/Details/@pelicula.Id" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
