@model IEnumerable<Pr3Obligatorio_AAN2023.Models.Funcion>

@{
    ViewData["Title"] = "Index";
}
<div class="container border rounded p-3 m-5 bg-light">
<h1>Funciones</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala.NroSala)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Horario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pelicula.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sala.NroSala)
                </td>
                    <td>
                        <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">Details</a>               
                        <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
            </tr>
        }
    </tbody>
</table>
</div>