@model IEnumerable<Pr3Obligatorio_AAN2023.Models.Reserva>
@using Microsoft.Extensions.Caching.Memory;

@{
    ViewData["Title"] = "Index";
}

@functions {
    public string ValidacionReservas()
    {
        var usuario = Context.RequestServices.GetService<IMemoryCache>().Get<Usuario>("Usuario");
        var admin = Context.RequestServices.GetService<IMemoryCache>().Get<Administrativo>("Administrativo");
        if (usuario != null)
        {
            return usuario.Email;
        }
        else if (admin != null)
        {
            return admin.Email;
        }
        else
        {
            return "";
        }
    }

    public bool IsAdmin()
    {
        var admin = Context.RequestServices.GetService<IMemoryCache>().Get<Administrativo>("Administrativo");
        return admin != null;
    }
}

<div class="container border rounded p-3 m-5 bg-light">
    <h1>Reservas</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Asiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Funcion)
                </th>
                @if (IsAdmin())
                {
                    <th>Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(r => r.Usuario.Email == ValidacionReservas()))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Asiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Funcion.Pelicula.Titulo)
                    </td>
                    @if (IsAdmin())
                    {
                        <td>
                            <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>